.loading-wrap {text-align:center;}
.loading-wrap .loading {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top:48px;
    margin-left:-24px;
}

.loading-wrap .loading span {
    display: inline-block;
    margin: -12px 2px 0 2px;
}

@keyframes loadingL {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@keyframes loadingO {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@keyframes loadingA {
    0%,25%,100% {top:4px;}
    12% {top:-16px;}
}
@keyframes loadingD {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@keyframes loadingI {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@keyframes loadingN {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@keyframes loadingG {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}

/* FireFox: */
@-o-keyframes loadingL {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-o-keyframes loadingO {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-o-keyframes loadingA {
    0%,25%,100% {top:4px;}
    12% {top:-16px;}
}
@-o-keyframes loadingD {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-o-keyframes loadingI {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-o-keyframes loadingN {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-o-keyframes loadingG {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}

/* Opera: */
@-moz-keyframes loadingL {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-moz-keyframes loadingO {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-moz-keyframes loadingA {
    0%,25%,100% {top:4px;}
    12% {top:-16px;}
}
@-moz-keyframes loadingD {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-moz-keyframes loadingI {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-moz-keyframes loadingN {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-moz-keyframes loadingG {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}

/* Chrome & Safari: */
@-webkit-keyframes loadingL {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-webkit-keyframes loadingO {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-webkit-keyframes loadingA {
    0%,25%,100% {top:4px;}
    12% {top:-16px;}
}
@-webkit-keyframes loadingD {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-webkit-keyframes loadingI {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-webkit-keyframes loadingN {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}
@-webkit-keyframes loadingG {
    0%,25%,100% {top:11px;}
    12% {top:-9px;}
}

.L {
    animation: loadingL 2.5s ease-out infinite;
    -o-animation: loadingL 2.5s ease-out infinite;
    -moz-animation: loadingL 2.5s ease-out infinite;
    -webkit-animation: loadingL 2.5s ease-out infinite;
}
.O {
    animation: loadingO 2.5s ease-out 0.2s infinite;
    -o-animation: loadingO 2.5s ease-out 0.2s infinite;
    -moz-animation: loadingO 2.5s ease-out 0.2s infinite;
    -webkit-animation: loadingO 2.5s ease-out 0.2s infinite;
}
.A {
    animation: loadingA 2.5s ease-out 0.4s infinite;
    -o-animation: loadingA 2.5s ease-out 0.4s infinite;
    -moz-animation: loadingA 2.5s ease-out 0.4s infinite;
    -webkit-animation: loadingA 2.5s ease-out 0.4s infinite;
}
.D {
    animation: loadingD 2.5s ease-out 0.6s infinite;
    -o-animation: loadingD 2.5s ease-out 0.6s infinite;
    -moz-animation: loadingD 2.5s ease-out 0.6s infinite;
    -webkit-animation: loadingD 2.5s ease-out 0.6s infinite;
}
.I {
    animation: loadingI 2.5s ease-out 0.8s infinite;
    -o-animation: loadingI 2.5s ease-out 0.8s infinite;
    -moz-animation: loadingI 2.5s ease-out 0.8s infinite;
    -webkit-animation: loadingI 2.5s ease-out 0.8s infinite;
}
.N {
    animation: loadingN 2.5s ease-out 1s infinite;
    -o-animation: loadingN 2.5s ease-out 1s infinite;
    -moz-animation: loadingN 2.5s ease-out 1s infinite;
    -webkit-animation: loadingN 2.5s ease-out 1s infinite;
}
.G {
    animation: loadingG 2.5s ease-out 1.2s infinite;
    -o-animation: loadingG 2.5s ease-out 1.2s infinite;
    -moz-animation: loadingG 2.5s ease-out 1.2s infinite;
    -webkit-animation: loadingG 2.5s ease-out 1.2s infinite;
}


/*字母L*/
.L {
    position:relative;
    top:11px;
    left:10px;
    width:16px;
    height:25px;
    border-width:0 0 3px 4px;
    border-color:#000000;
    border-style:solid;
}

/* 字母O */
.O {
    position:relative;
    left:10px;
    top:11px;
    width:18px;
    height:25px;
    border-width:3px 4px 3px 4px;
    border-color:#000000;
    border-style:solid;
    border-radius:55% /52%;
}

/* 字母A */
.A {
    position:relative;
    top:4px;
    left:15px;
    width:14px;
    height:17px;
    border-bottom:solid 3px #000000;
}
.A:before {
    transform:skew(-19deg,0);
    position:absolute;
    content:'';
    left:0;
    width:4px;
    height:24px;
    background-color:#000000;
}
.A:after {
    transform:skew(19deg,0);
    position:absolute;
    content:'';
    left:10px;
    width:4px;
    height:24px;
    background-color:#000000;
}

/* 字母D */
.D{
    position:relative;
    top:11px;
    left:20px;
    border-left:solid 4px #000000;
    height:25px;
}
.D:before{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:16px;
    height:25px;
    border-width:3px 4px 3px 0;
    border-color:#000000;
    border-style:solid;
    border-radius:0 300% 300% 0 / 0 180% 180% 0; }

/* 字母I */
.I {
    z-index:1;
    position:relative;
    top:11px;
    left:40px;
    width:5px;
    height:25px;
    background-color:#000000;
} 
/* 字母N */
.N {
    position:relative;
    top:11px;
    left:46px;
    width:19px;
    height:25px;
    border-width:0 4px 0 4px;
    border-color:#000000;
    border-style:solid;
}
.N:before {
    transform:skew(30deg,0);
    position:absolute;
    content:'';
    top:0;
    left:4px;
    width:3px;
    height:25px;
    background-color:#000000;
}

/* 字母N */
.G {
    position:relative;
    top:11px;
    left:48px;
    width:22px;
    height:25px;
    border-width:3px 4px 3px 4px;
    border-color:#000000;
    border-style:solid;
    border-radius:50%;
}
.G:before {
    transform:rotate(45deg);
    position:absolute;
    content:'';
    top:0;
    left:11px;
    background-color:#ffffff;
    width:20px;
    height:20px;
}
.G:after {
    position:absolute;
    content:'';
    bottom:1px;
    right:-1px;
    width:6px;
    height:7px;
    border-width:2px 3px 0 0;
    border-color:#000000;
    border-style:solid;
}
