.container {
  position: relative;
}
#contact-me {
  top:50%;
  left:0;
  right:0;
  position:fixed;
  transform: translateY(-50%);
}

/* op */
#op {
  background:#000;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#op label {
  color:#fff;
  position:absolute;
  left:50%;
  top:50%;
  font-size:160px;
  display:none;
  /*transform:translate(-50%, -50%);*/
}
/* 我 */
#op #wo1 {
  transform:translate(-295%, -50%) scaleX(0.65);
}
#op #wo2 {
  transform:translate(-255%, -50%) scaleX(0.65);
}
/* TM */
#op #tm1 {
  font-size:60px;
  transform:translate(-760%, -150%);
}
#op #tm2 {
  font-size:60px;
  transform:translate(-660%, -150%);
}
/* 不 */
#op #bu1 {
  transform:translate(-115%, -80%);
}
#op #bu2 {
  transform:translate(-115%, -50%);
}
/* 是 */
#op #shi1 {
  transform:translate(-15%, -72%) scale(1, 0.4);
}
#op #shi2 {
  transform:translate(-15%, -35.5%) scale(1, 0.6);
}
/* 小 */
#op #xiao1 {
  transform:translate(90%, -51%) scale(1, 1.05);
}
#op #xiao2 {
  transform:translate(93%, -45%) scale(1.3, 0.5);
}
/* 柴 */
#op #chai1 {
  transform:translate(180%, -68%) scale(0.5);
}
#op #chai2 {
  transform:translate(230%, -68%) scale(0.5);
}
#op #chai3 {
  transform:translate(205%, -41%) scale(1, 0.75);
}
#op #chai4 {
  transform:translate(207%, -33.5%) scale(1, 0.5);
}
