.container {
  position: relative;
}
#contact-me {
  top:50%;
  left:0;
  right:0;
  display:none;
  position:fixed;
  transform: translateY(-50%);
}
#contact-me .me {
  font-size: 165px;
  font-weight: 800;
  transform: translate(20px, 20px);
}

/* op */
#op {
  background:#000;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
}

#op label {
  color:#fff;
  position:absolute;
  left:50%;
  top:50%;
  font-size:160px;
  display:none;
  /*transform:translate(-50%, -50%);*/
}
/* 我 */
#op #wo1 {
  transform: translate(-297%, -55%) scaleX(0.65);
}
#op #wo2 {
  transform: translate(-258%, -54%) scaleX(0.65);
}
/* TM */
#op #tm1 {
  transform: translate(-310%, -72%) scale(.5, .6);
}
#op #tm2 {
  transform: translate(-265%, -72%) scale(.5, .6);
}
/* 不 */
#op #bu1 {
  transform: translate(-110%, -80%);
}
#op #bu2 {
  transform: translate(-110%, -50%) scale(1, .9);
}
/* 是 */
#op #shi1 {
  transform: translate(-8%, -72%) scale(1, 0.4);
}
#op #shi2 {
  transform: translate(-8%, -37.5%) scale(1.1, 0.55);
}
/* 小 */
#op #xiao1 {
  transform: translate(95%, -53%);
}
#op #xiao2 {
  transform: translate(98%, -50%) scale(1.2, 0.5);
}
/* 柴 */
#op #chai1 {
  transform: translate(178%, -71%) scale(0.5);
}
#op #chai2 {
  transform: translate(225%, -71%) scale(0.5);
}
#op #chai3 {
  transform: translate(200%, -40%) scale(1, 0.6);
}
#op #chai4 {
  transform: translate(203%, -33.5%) scale(1.1, 0.4);
}
