@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;} 100% {opacity: 1;}
}
/* FireFox: */
@-o-keyframes fadeIn {
a   0% {opacity: 0;}
    50% {opacity: 0;} 100% {opacity: 1;} }
/* Opera: */
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
/* Chrome & Safari: */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

html {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
  height: 100%;
}
body {
    height: 100%;
    background-color:rgba(0, 0, 0, 0);
    font: 14px 'Lucida Console', Monaco, monospace, sans-serif;

    animation-duration: 0.5s;
    animation-name: fadeIn;
    /* FireFox: */
    -o-animation-duration: 0.5s;
    -o-animation-name: fadeIn;
    /* Opera: */
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fadeIn;
    /* Chrome & Safari: */
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeIn;
}

/** header 样式开始 **/
#header {
    text-align: center;
    padding: 70px 15px 20px 15px;
    margin-right: auto;
    margin-left: auto;
}
#header a.navbar-brand {
    color: #353535;
    text-decoration: none;
}
#header .avatar {
  background-color: white;
  display: inline-block;
  margin-top: -3px;
  width: 26px;
  height: 26px;
}
/** header 样式结束 **/

/** footer 样式开始 **/
#footer { text-align:center; }
/** footer 样式结束 **/

/** 导航栏 样式开始 **/
.navbar {
  background: rgba(253, 253, 253, 0.65);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
/** 导航栏 样式结束 **/

.container { min-height: 375px; }
.container a {
    color: #00b7ff;
}
