@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
/* FireFox: */
@-o-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;} 100% {opacity: 1;} }
/* Opera: */
@-moz-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
/* Chrome & Safari: */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

html {
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
}
body {
    background-color:rgba(0, 0, 0, 0);
    font: 14px "Lucida Grande", Monaco, monospace, sans-serif;

    animation-duration: 0.5s;
    animation-name: fadeIn;
    /* FireFox: */
    -o-animation-duration: 0.5s;
    -o-animation-name: fadeIn;
    /* Opera: */
    -moz-animation-duration: 0.5s;
    -moz-animation-name: fadeIn;
    /* Chrome & Safari: */
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: fadeIn;
}
.navbar {
  background: rgba(253, 253, 253, 0.65);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
#header {
    text-align: center;
    padding-top: 50px;
}
#header .avatar {
  margin-top: 20px;
  background-color:white;
  width:100px;
  height:100px;
}
#header .name {
  margin-top: 10px;
  font-size: 20px;
}
#footer { text-align:center; }
.container { min-height: 375px; }
a {
    color: #00b7ff;
}
