<div>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">  
    <div class="container-fluid">  
      <!--header section -->  
      <div class="navbar-header">  
        <button type="button" class="navbar-toggle"   
                              data-toggle="collapse"   
                              data-target=".navbar-ex1-collapse">  
          <span class="sr-only">Toggle navigation</span>  
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>  
          <span class="icon-bar"></span>  
        </button>  
        <a class="navbar-brand" href="/index.html">
          <img src="/img/avatar.png" class="img-circle avatar">
          小柴の蜜汁空间
        </a>
      </div>  
      <!-- menu section -->  
      <div class="collapse navbar-collapse navbar-ex1-collapse">  
        <ul class="nav navbar-nav navbar-right">  
          <li><a href="/blog">Blog</a></li>  
          <li><a href="/lab">Max Lab</a></li>  
          <li><a href="/media.html">Media</a></li>  
          <li><a href="https://www.zonemore.com/58cb8e8786b6e408c6d42589" target="_blank">ZONE</a></li>
        </ul>  
      </div>  
    </div>  
  </nav>  
  <script>
    if (location.pathname.slice(0, 5) === '/blog') {
      $('.navbar .navbar-collapse .nav li:nth-child(1)').addClass('active');
    } else if (location.pathname.slice(0, 4) === '/lab') {
      $('.navbar .navbar-collapse .nav li:nth-child(2)').addClass('active');
    } else if (location.pathname.slice(0, 6) === '/media') {
      $('.navbar .navbar-collapse .nav li:nth-child(3)').addClass('active');
    }
  </script>
</div>
