.container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
} 
#projects { position:relative; }

#projects * { cursor:pointer; }

#projects img { position: absolute; }

/*yys*/
#yys {
  top:0;
  left:0;
}

/*mnist*/
#mnist .number {
  top:70px;
  left: 500px;
}
#mnist .pen {
  top:0;
  left: 550px;
}

#physics-gravity {
  position: absolute;
  top: 10px;
  left: 780px;
}
